.order-success{
  min-height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.success-card{
  background:white;
  padding:50px;
  border-radius:16px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.success-card h1{
  color:#ff5f6d;
}

.success-card button{
  margin:10px;
  padding:12px 20px;
  border:none;
  border-radius:25px;
  background:#ff5f6d;
  color:white;
  cursor:pointer;
}